<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.jpp.moviespreview">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:allowBackup="false"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:name=".MPApp">

    <activity android:name=".screens.main.MainActivity">
      <intent-filter>
        <category android:name="android.intent.category.LAUNCHER"/>
        <action android:name="android.intent.action.MAIN"/>
      </intent-filter>
    </activity>


  </application>
</manifest>
