<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jpp.mp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.jpp.mp.MPApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MPTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.jpp.mp.main.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name="com.jpp.mpsearch.SearchActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="80d86f5f5c31a9540a95b44d4f628f5a7464dcb2" />

    </application>
</manifest>
